body {
    display: flex;
    background-color: rgb(179, 43, 197);
    margin: 0;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    overflow: hidden;
  }
  
  nav {
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #0d0daf;
    padding: 20px;
    color: white;
    overflow-y: auto;
  }
  
  nav h2 {
    margin-bottom: 20px;
  }
  
  nav p {
    margin: 10px 0;
  }
  
  .pregunta {
    margin: 10px 0;
  }
  
  .main-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 10px;
    overflow: hidden;
  }
  
  header {
    background-color: #0d0daf;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 24px;
    margin-bottom: 10px;
    flex-shrink: 0;
  }
  
  #tablero {
    background-color: #0d0daf;
    color: white;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px; /* Aumentado el espacio entre imágenes */
    justify-items: center;
    flex-grow: 1;
    overflow-y: auto;
  }
  
  .personaje {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .personaje img {
    width: 140px; /* Tamaño aumentado de las imágenes */
    height: 140px; /* Tamaño aumentado de las imágenes */
  }
  
  .personaje p {
    margin: 5px 0 0 0;
    text-align: center;
    font-size: 14px;
  }