/* ACLARACIONES DE FORMATO */

/* FUENTE(posibles): 
. https://fonts.google.com/specimen/Lilita+One?preview.layout=grid
. https://fonts.google.com/specimen/Lilita+One?preview.layout=grid
. https://fonts.google.com/specimen/Indie+Flower?preview.layout=grid
. https://fonts.google.com/specimen/Acme?preview.layout=grid
. https://fonts.google.com/specimen/Luckiest+Guy?preview.layout=grid
. https://fonts.google.com/specimen/Bangers?preview.layout=grid
. https://fonts.google.com/specimen/Patrick+Hand?preview.layout=grid */
/* GAMA DE COLORES: ¿Azules? */
/* IMAGEN DE TITULO DE JUEGO (canva o otro progrema): */

body, html {
  margin: 0;
  height: 100%;
  background-color: rgb(129, 129, 209);
  overflow: hidden;
}

nav{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  color: white;
  overflow-y:auto;
  

  border-radius: 10px;
  max-height: 40%;

}

hr {
  border-top: 2px solid #000000;
  width: 50%;
}

figure{
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

figcaption{
  color: #000000;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);


}

input{
  border-radius: 5px;
  padding: 8px;
  font-size: 13px;
}

/* ------------------------------------------------------------------------------------------------------------ */

/* ESTILOS DE FONT */
.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

/* PAGINA DE PRESENTACION */
.containerPresentacion{
  display:flex;
  height:100%;
  margin:0;
  justify-content:center;
  align-items:center;
}

/* PAGINA LOGIN */
.inicio{
  height: 230px;
  width: 800px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 

  gap: 30px; 
  padding: 30px;

  border-radius: 10px;
  border-style:solid;
  border-color: #f0f0f0;
  background-color: rgb(255, 255, 255);

}

/* EXPLIACION DEL JUEGO */
.explicacion{
  display: flex;
  align-content: center;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

/* LOGIN EL JUEGO */
.login{
  text-align: center;
  display: flex;
  gap: 40px;
  justify-content: center;
  align-content: center;
  align-items: stretch;
}

.preguntasLogin {
  display: flex;
  height: 100%;
  margin: 0;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  
}

/* BOTTON DE INICIO */
.botonLogin{
  padding:8px; 
  padding-left: 25px;
  padding-right: 25px;

  border-radius: 5px;

  background-color: rgb(2, 102, 2);
  color: white;
  font-size: 15px;
}

.botonRegister{
  padding:8px; 
  padding-left: 25px;
  padding-right: 25px;

  border-radius: 5px;

  background-color: rgb(100, 4, 4);
  color: white;
  font-size: 15px;
}

/* ------------------------------------------------------------------------------------------------------------ */

/* PAGINA DEL JUEGO */
.containerJuego{
display: grid; 
grid-template-columns: 1fr 3fr; 

}

/* COLUMNA DE LAS PREGUNTAS */
.columnaIzquierda {
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: left;

padding: 10px;
background-color: #6e6eff;
color: white;
height: 1037px;
}

.portada {
  width: auto;
  height: 130px;
}

#botonRanking {
  margin-left: 40px;
  margin-bottom: 10px;
}

#botonRanking:hover {
  transform: scale(1.05); /* Aumenta el tamaño de la pregunta al pasar el mouse */
}

::-webkit-scrollbar {
  display: none;
}

.preguntas {
  margin: 15px;
  padding: 5px;

  font-size: 20px;
  text-align: center;

  color: #000000;
  background-color: rgb(255, 255, 255);

}


.preguntas:hover {
  transform: scale(1.05); /* Aumenta el tamaño de la pregunta al pasar el mouse */
}


/* LOG OUT */
.logOut{
  padding-top: 35px;
  padding-left: 20px;
}

.botonLogOut {
  background-color: rgb(92, 1, 1);
  color: white;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
  margin-bottom: 415px;
  height: 60px;
}

.botonLogOut:hover {
  transform: scale(1.1);
}

/* COLUMNA DE PERSONAJES */
.columnaDerecha {
  padding: 10px;
  background-color: #6e6eff;
  color: white;
}

/* TABLERO DE PERSONAS */
.personas{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  
  grid-gap: 10px; 
  flex-grow: 1;
}

.personas img:hover {
  transform: scale(1.1);
}


.personaje {
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 3px solid rgb(255, 255, 255); 

  width: 100px; 
  height: 100px; 
}

.temporizador-y-contadores {
  display: flex;
  justify-content: space-around; /* Distribuye los elementos equitativamente */
  align-items: center; /* Centra verticalmente los elementos */
  background-color: #f0f0f0;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  margin-top: 1%;
  color: black;
  margin-left: 20px;
  margin-right: 20px;
}


#contador-maquina {
  flex: 1; /* Ocupan el mismo espacio disponible */
  text-align: center; /* Centra el texto */
  padding: 10px;
  border-left: 1px solid #ccc; /* Línea separadora entre los contadores */
}

#temporizador {
  flex: 1; /* Ocupan el mismo espacio disponible */
  text-align: center; /* Centra el texto */
  padding: 10px;
  border-right: 1px solid #ccc; /* Línea separadora entre los contadores */
}

#contador-usuario {
  flex: 1; /* Ocupan el mismo espacio disponible */
  text-align: center; /* Centra el texto */
  padding: 10px;
  border-right: 1px solid #ccc; /* Línea separadora entre los contadores */
}

/* ------------------------------------------------------------------------------------------------------------ */
/*PAGINA RANKING*/

.containerRanking {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

#tableroRanking {
  height: 500px;
  width: 800px;
  border-radius: 10px;
  border-style: solid;
  border-color: #f0f0f0;
  background-color: rgb(255, 255, 255);
}

#h2Ranking {
  font-size: 40px;
  margin-top: 20px; /* Ajusta este valor para centrar verticalmente según sea necesario */
  text-align: center;
}
#h3TopJugadores {
  font-size: 20px;
  margin-top: 20px; /* Ajusta este valor para centrar verticalmente según sea necesario */
  text-align: center;
}

#columnaTopJugadores{
  margin-left: 20px;
  height: 350px;
  width: 300px;
  background-color: aqua;
}

#h3Puntaje {
  font-size: 20px;
  margin-top: 20px; /* Ajusta este valor para centrar verticalmente según sea necesario */
  text-align: center;
}

#columnaPuntajes{
  margin-left: 20px;
  height: 350px;
  width: 300px;
  background-color: aqua;
}